<section class="section mt-6">
<p id="notice"></p>
<div class='col-md-8 offset-md-1'>
 <h1>Online_Event一覧</h1>
 <table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
   </thead>
   <tbody>
  <tbody>
<div class="row mx-auto mt-3">

  <tr>
  　<% @onlines.each do |online| %>
   <td>
    <% if online.images.attached? %>
    <% online.images.each do |image| %>
    <p><%= image_tag image.variant(resize:'300x300').processed %><br/>
    <% end %></p>
    <% end %></td>
    <td><h3><%= online.event_title%></h3></td>
    <td><%= link_to 'show', online_path(online), class: "btn btn-sm btn-success" %></td>
   </td>
  </tr>
 </div>
    <% end %>
  </div>
</div>