
<h2>Concept</h2>
<div class="card-text">
このサイトでは、美容、料理、バイクなど趣味、特技を日記を投稿して共有するだけでなく、</br>
技術を発信していきたいと考えている人に自分だけのオリジナルレシピの投稿をしていくことができます。</br>
また、個展などのイベント情報の投稿をすることができるので、自分の作品を知ってもらえるチャンスにつながります！
</div>