<h2>Recipe</h2>
<div class="card-container">
    <div class="card-img">
    <div class="card-text">
      <h4><%= @recipe.recipe_title %></h4>
      <!--<td>%= @recipe.recipe_title %></td>-->
    </div>
     <td><%= @recipe.genre.name %></td>