// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img.sized {
  width: 250;
  height: 200;
  margin: 30px auto;
}

div.container6 {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center }
div.container6 p {
  margin: 0 }
  
// map { height: 200px;
//       width: 70%;}